	/* Cole Marter
     assignment4.htm
     INFO2439
     Thoendel
     10/5/19
	 */
	 	 h2{
		 margin-left: 35px;
		 margin-right: 35px; 
		 color: red;
		 font-family: 'Permanent Marker', cursive;
		  }